doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Naruto WebApp
    // Bootstrap Core CSS
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='/stylesheets/grayscale.min.css', rel='stylesheet')
    //variables
    - var con = condition
    audio#audio
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            | Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top')
            i.fa.fa-sun-o
            span.light Naruto
            |  WebApp
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#contact') Contact
        // /.navbar-collapse
      // /.container
    // Intro Header
    header.intro#picture
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading#location
              p.intro-text#status
                | Getting location...
              a.btn.btn-circle.page-scroll(onclick="document.getElementById('audio').play()")
                i.fa.fa-play.animated
    // About Section
    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 Your IP address is #{ip}
          p
            | This application was built using the
            a(href='https://expressjs.com/') Express.js framework.
            | The page responds dynamically to the user's location based on the weather and plays different song from Naruto according to the weather.
            | Credits to Wunderground for their api
          a(href='https://www.wunderground.com/')
            img(src='https://www.wunderground.com/logos/images/wundergroundLogo_4c_rev.jpg')(href='https://www.wunderground.com/')

    // Contact Section
    section#contact.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 Contact Me
          p
            | Check out the source code below
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-lg(href='https://github.com/deidaraxc4/naruto-webapp')
                i.fa.fa-github.fa-fw
                span.network-name Github
    // Footer
    footer
      .container.text-center
        p Copyright © Nick Tang 2017
    // jQuery
    script(src='/jquery/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    // Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
    //script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false')
    // Theme JavaScript
    script(src='javascripts/grayscale.min.js')
    //scripts
    script(src='/javascripts/script.js')
